<table style="width:100%">
  <tr>
    <td>Token</td>
    <td>Platform</td>
    <td>Created At</td>
  </tr>
  <%= render partial: 'device', collection: @devices %>
</table>
<%= link_to 'IOS Notification', send_notify_ios_path %>
<br>
<%= link_to 'ANDROID Notification', send_notify_android_path %>