<%= form_tag push_notify_ios_path, method: 'post' do %>
  Token: <%= text_field_tag :token %>
  <br>
  Message: <%= text_area_tag :messeage %>
  <br>
  <%= submit_tag('Submit') %>
<% end %>
<%= link_to 'Home', root_path %>